//@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&family=Roboto:wght@400;500;700&display=swap');

// === MIXIN ===
@mixin roboto {
    font-family: 'Roboto', sans-serif;
}

@mixin quicksand {
    font-family: 'Quicksand', sans-serif;
}

@mixin list-none {
    list-style: none;
    margin: 0;
    padding: 0;
}

// === / MIXIN ===

// === FUNCTIONS ===

@function strip-unit ($num) {
    @return $num / ($num * 0 + 1);
}

@function rem ($num) {
    @return (strip-unit($num) / 16) * 1rem;
}

// === / FUNCTIONS ===

// === VARIABLES ===

$breakpoint-xs-max: 575px;
$breakpoint-sm-min: 576px;
$breakpoint-sm-max: 767px;
$breakpoint-md-min: 768px;
$breakpoint-md-max: 991px;
$breakpoint-lg-min: 992px;
$breakpoint-lg-max: 1199px;
$breakpoint-xl-min: 1200px;
$breakpoint-xl-max: 1399px;
$breakpoint-xxl-min: 1400px;

$fw-light: 100;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

$fs-sm: 12px;
$fs-md: 15px;
$fs-lg: 18px;
$fs-xl: 48px;

$transition: 0.2s;

$color-divider: #d8e3fe;

$color-white: #fff;
$color-primary: #697ca6;
$color-secondary: #6188ff;
// === / VARIABLES ===

// === COMMON ===
html {
    @media (max-width: $breakpoint-md-max) {
        font-size: 18px;
    }

    @media (max-width: $breakpoint-sm-max) {
        font-size: 14px;
    }
}

body {
    @include roboto;

    color: #8d96bd;
    padding-top: 81px;
}

.section-outer {
    padding: 0 20px;
    border-bottom: 1px solid $color-divider;
}

.section-inner {
    max-width: 900px;
    margin: 0 auto;     
    &__wide {
        max-width: 1200px;
    }
}

.vertical-indent {
    @mixin vertical-indent ($size) {
        padding-top: $size;
        padding-bottom: $size;
    }

    &--s { @include vertical-indent (20px); }
    &--m { @include vertical-indent (60px); }
    &--l { @include vertical-indent (80px); }

    @media (max-width: $breakpoint-md-max) {        
        &--m { @include vertical-indent (40px); }
        &--l { @include vertical-indent (80px); }
    }

    @media (max-width: $breakpoint-xs-max) {
        &--m { @include vertical-indent (20px); }
        &--l { @include vertical-indent (40px); }
    }    

}

.input {
    @include quicksand;

    padding: 12px 16px;
    border: 1px solid transparent;
    background: #efeff7;
    border-radius: 2px;
    color: #7a85ad;
    font-size: $fs-sm;
    font-weight: $fw-bold;

    &--size-lg {
        padding: 20px 24px;
        border-radius: 5px;
    }
}

.btn {
    @include quicksand;

    display: inline-block;
    padding: 12px 16px;
    margin: 0;
    font-size: $fs-sm;
    font-weight: $fw-bold;
    text-decoration: none;
    background: none;
    border: 1px solid transparent;
    border-radius: 2px;
    transition: $transition;
    white-space: nowrap;
    cursor: pointer;

    &--size-lg {
        padding: 20px 60px;
        border-radius: 5px;

        @media (max-width: $breakpoint-xs-max) {
            padding-right: 20px;
            padding-left: 20px;
        }
    }

    &--primary {
        background-color: #d2e1ff;
        color: #3a79ff;

        &:hover {
            background-color: darken(#d2e1ff, 5%);
        }
    }

    &--danger {
        background-color: #ffd7d7;
        color: #d43f3f;

        &:hover {
            background-color: darken(#ffd7d7, 5%);
        }
    }

    &--secondary {
        background-color: #4c85ff;
        color: #fff;

        &:hover {
            background-color: darken(#4c85ff, 5%);
        }

        &-inverted {
            color: #565f82;
            background-color: #fff;

            &::hover {
                background-color: darken(#fff, 5%);
            }
        }
    }

    &--grayscale {
        background-color: #e8ecf4;
        color: #7382a3;

        &:hover {
            background-color: darken(#e8ecf4, 5%);
        }
    }

    &--no-bg {
        border: 1px solid #d1d1e4;
        color: #adb4d2;

        &:hover {
            color: darken(#adb4d2, 10%);
            border: 1px solid darken(#d1d1e4, 10%);
        }

        &-inverted {
            color: #c7d3ff;
            border-color: #a0b4ff;

            &:hover {
                color: lighten(#c7d3ff, 10%);
                border-color: lighten(#a0b4ff, 5%);
            }
        }
    }

}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include quicksand;

    padding: 0;
    margin: 0;
    font-weight: $fw-regular;
    color: #3d4f9f;
}

h1,
h2 {
    margin-bottom: 28px;
    font-size: 48px;

    @media (max-width: $breakpoint-md-max) {
        font-size: 42px;
    }

    @media (max-width: $breakpoint-sm-max) {
        font-size: 36px;
    }
}

h3 {
    margin-bottom: 28px;
    font-size: 36px;
}

h4 {
    margin-bottom: 80px;
    font-size: 24px;
}

h5 {
    @include roboto;

    font-size: 10px;
    margin-bottom: 16px;
    text-transform: uppercase;
}

.ta-c {
    text-align: center;
}

.dots {
    @include list-none();

    display: flex;
    justify-content: center;   
}

.swiper-pagination-bullet {        
    display: flex !important;
    align-items: center;
    justify-content: center;
    width: 24px !important;
    height: 24px !important;
    background-color: transparent !important;
    cursor: pointer;
    
    &::before {
        display: block;
        width: 8px;
        height: 8px;
        content: '';
        background-color: #8d96bd;// #d1d6e3
        transition: $transition;
        border-radius: 100%;

    }

    &-active::before {
        background-color: #5283ff !important;
    }

    & + & {
        margin-left: 4px !important;
    }
}

.btn-group {
    display: inline-flex;

    .btn:nth-child(1) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .btn:nth-child(2) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.vasually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

// === / COMMON ===


// === HEADER ===
.section-header {
    position: fixed;    
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: #fff;

    &::before {
        position: absolute;
        top: 100%;        
        left: 0;             
        width: 100vw;
        height: 100vh;        
        display: none;
        content: '';
        background-color: rgba(0, 0, 0, 0.5);        
    }

    &--active-nav {
        &::before {
            display: block;
        }

        .main-navigation__inner-wrap {
            display: flex !important;
        }
    }
}

.btn-burger {
    display: none;
    margin-left: auto;

    &__line {
        display: block;
        height: 2px;
        width: 16px;
        background-color: #adb4d2;

        &+& {
            margin-top: 4px;
        }
    }

    @media (max-width: $breakpoint-md-max) {
        display: block;
    }
}

.main-navigation {
    display: flex;
    align-items: center;

    &__inner-wrap {
        display: flex;
        flex-grow: 1;
        align-items: center;
        margin-left: 72px;

        .section-header & {
            @media (max-width: $breakpoint-md-max) {
                display: none;
                position: absolute;
                top: 100%;
                right: 0;
                left: 0;
                padding: 20px;
                margin-left: 0;
                z-index: 10;
                background-color: #fff;
            }
        }

        @media (max-width: $breakpoint-md-max) {
            flex-direction: column;

            .socials,
            .nav {
                margin-bottom: 20px;
            }

            &,
            .btn-wrapper,
            .socials {
                margin-left: 0;
            }

        }
    }

    @media (max-width: $breakpoint-md-max) {
        .section-footer & {
            flex-direction: column;
            margin-left: 0;

            .logo {
                margin-bottom: 20px;
            }
        }
    }
}

.logo {
    width: 26px;
    height: 26px;
    background-color: #5e81fe;
    border-radius: 100%;
}

.nav-wrapper {
    @include list-none();

    display: flex;

    &__item {
        &+& {
            margin-left: 40px;

            @media (max-width: $breakpoint-xs-max) {
                margin-left: 0;
            }
        }

        &-link {
            @include quicksand;

            color: $color-primary;
            font-size: $fs-sm;
            text-decoration: none;
            font-weight: $fw-medium;
            transition: $transition;

            &:hover {
                color: $color-secondary;
            }

            &--active {
                font-weight: $fw-bold;
                color: $color-secondary;
            }
        }
    }

    @media (max-width: $breakpoint-xs-max) {
        flex-direction: column;
        align-items: center;
    }
}

.socials {
    margin-left: auto;
}

.socials-wrapper {
    @include list-none();

    display: flex;
    align-items: center;

    &__item {
        &+& {
            margin-left: 36px;
        }

        &-link {

            path {
                fill: $color-primary;
                transition: $transition;
            }

            &:hover {
                path {
                    fill: $color-secondary;
                }
            }
        }
    }
}

.btn-wrapper {
    margin-left: 44px;
}

// === / HEADER ===

// === HERO-IMAGE ===
.section-hero-image {
    position: relative;   
    padding: 0;
    overflow: hidden;    
    
    .dots {
        position: absolute;
        bottom: 28px !important;
        left: 50% !important;
        transform: translateX(-50%);
    }
}

.slider-hero-image {
    @include list-none();

    display: flex;
   
    &__item {        
        height: 600px !important;        
        text-align: center;
        background-position: 50% 70%;
        background-repeat: no-repeat;
        background-size: cover;

        &-content {
            h2 {
                font-weight: $fw-light;

                span {
                    font-weight: $fw-medium;
                }
            }

            .text {
                max-width: 60%;
                margin: 0 auto 20px;
                line-height: 2;
            }
        }
    }
}

.icon-play {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    border-radius: 100%;
    background-color: #ffffff;
    box-shadow: 0 10px 50px rgba(#c9d1e7, 0.6);

    &::before {
        content: '';
        background: url(../img/icon-triangle.svg);
        background-size: 11px;
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        background-position: center;

    }
}

// === / HERO-IMAGE ===

// === CUSTOMERS ===
.section-customers {
    .section-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;      

        a {
            opacity: 0.3;
            transition: $transition;

            &:hover {
                opacity: 1;
            }
        }

        @media (max-width: $breakpoint-sm-max) {
            flex-wrap:wrap;
            justify-content: center;

            a {
                flex-basis: 45%;
                text-align: center;
                margin-top: 12px;
                margin-bottom: 12px;
            }
        }
    }
}

// === / CUSTOMERS ===

// === PLAN-AND-MANAGE ===
.section-plan-and-manage {
    position: relative;
    overflow: hidden;
    background-color: #f5f8ff;

    &__content {
        width: 60%;

        .aside-image {
            position: absolute;
            top: 0;
            left: 50%;
        }

        h2 {
            font-weight: $fw-light;

            span {
                font-weight: $fw-medium;
            }
        }

        .text {
            line-height: 2;
            margin-bottom: 48px;
        }

        .btn-group {
            svg {
                margin-left: 4px;
            }
        }

        @media (min-width: $breakpoint-lg-min) {
            width: 50%;
        }

        @media (max-width: $breakpoint-xs-max) {
            width: 70%;

            .aside-image {                
                left: 40%;
            }
        }
    }
}

// === / PLAN-AND-MANAGE ===

// === FEATURES ===
.section-features {
    background: url(../img/bg-features-clouds.svg) no-repeat 50% 50%;

    h4 {
        font-weight: $fw-medium;
    }

    .btns {
        display: flex;
        justify-content: center;
        text-align: center;
    }
}

.features-list {
    @include list-none();

    display: flex;
    text-align: center;
    margin: 0 0 100px;    

    &__item {
        flex-basis: 25%;
        position: relative;

        &:not(:first-child) {
            margin-left: 40px;
            @media (max-width: $breakpoint-xs-max) {            
                margin-left: 0;
                margin-bottom: 40px;
            }
        }

        &:not(:first-child)::before {
            position: absolute;
            top: 120px;
            left: -34px;
            width: 28px;
            height: 1px;
            content: '';
            background-color: lightgray;//#daedfe;
        }       

        &-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 69px;
            height: 69px;
            margin: 0 auto 32px;
            border-radius: 100%;
            background-color: #f1f5ff;
        }

        &-title {
            font-weight: $fw-bold;
            font-size: $fs-md;
            color: #4074f8;
            margin-bottom: 28px;
        }

        &-text {
            line-height: 2;
            font-size: $fs-sm;
        }

        @media (max-width: $breakpoint-xs-max) {            
            flex-basis: 45%; 
            &::before {
                display: none;
            }
            
            &-icon {margin-bottom: 12px;}
            &-title {margin-bottom: 9px;}
        }        
    }   

    @media (max-width: $breakpoint-md-max) {
        margin-bottom: 60px;
    } 
    
    @media (max-width: $breakpoint-xs-max) {
        flex-wrap: wrap;
        justify-content: space-between;  
        margin-bottom: 10px;       
    }
}

.or-block {
    display: inline-flex;
    align-items: center;
    margin: 0 16px;
    font-size: $fs-sm;
    font-weight: $fw-medium;
    line-height: 40px;

    &::before,
    &::after {
        display: block;
        width: 16px;
        height: 1px;
        content: '';
        background-color: #dae4fe;
    }

    &::before {
        margin-right: 16px;
    }

    &::after {
        margin-left: 16px;
    }
}

// === / FEATURES ===

// === STATS ===
.section-stats {
    background-color: #e9efff;
    display: flex;
    padding: 0;

    h2 {
        color: #fff;
    }

    &__icon {
        margin-bottom: 24px
    }

    &__number {
        @include quicksand();

        margin-bottom: 28px;
        font-size: $fs-xl;
    }

    &__text {
        @include quicksand();
        
        font-size: $fs-lg;
        font-weight: $fw-medium;
        line-height: 1.5;

        @media (min-width: $breakpoint-lg-min) {
            width: 35%;
        }
    }

    &__left,
    &__right {
        display: flex;
        flex-basis: 50%;
        flex-direction: column;
        padding: 66px 88px;
    }

    &__left {
        align-items: flex-end;
        color: #fff;
        text-align: right;
        background-color: #5e80ff;

        h2 {
            color: #fff;
        }
    }

    &__right {
        color: #5e80ff;

        h2 {
            color: #5e80ff;
        }
    }

    @media (max-width: $breakpoint-xs-max) {
        &__left,
        &__right {
            padding: 32px 44px;
        }
        h2 {
            font-size: 40px;
        }
        &__text {
            font-size: 14px;
        }
    }
}

// === / STATS ===

// === BLOG ===
.section-blog {
    background-color: #f5f8ff;

    h4 {
        font-weight: $fw-medium;

        @media (max-width: $breakpoint-xs-max) {            
                margin-bottom: 24px;            
        }
    }
    .swiper-pagination {
        position: relative;
    }

}

.slider-blog {
    position: relative;   
    margin-bottom: 100px;

    @media (max-width: $breakpoint-md-max) {
        margin-bottom: 60px;
    }
}

.slider-blog-container {
    position: relative;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #d8e3fe;
    box-shadow: 0 15px 50px #eff4ff;   
}

.slider-blog-wrapper {
    @include list-none();
    
    display: flex;

    &__item {        
        display: flex;
        padding: 64px 38px; 
        box-sizing: border-box;     

        &-galery {
            display: grid;
            grid-template-rows: repeat(2, 120px);
            grid-template-columns: repeat(3, 120px);
            grid-gap: 12px;
            width: 100%;

            .image-link {
                position: relative;
                display: block;
                border-radius: 5px;
                overflow: hidden;
                box-shadow: 0 50px 100px #e5ebf8;

                .loupe {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    display: block;
                    width: 64px;
                    height: 64px;
                    background: #fff url(../img/icon-loupe.svg) no-repeat 50% 50%;
                    border-radius: 100%;
                    opacity: 0;
                    transition: $transition;
                }

                &:hover {
                    .loupe {
                        opacity: 1;
                    }
                }

                img {
                    width: 100%;
                    height: 100%;                    
                }

                &::before {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    content: '';
                    opacity: 0.6;
                }

                &--b {
                    grid-row: 1 / 3;
                    grid-column: 1 / 3;

                    &::before {
                        background: linear-gradient(transparent, #ffc735);
                    }
                }

                &--s-1 {
                    grid-row: 1 / 2;
                    grid-column: 3 / 4;

                    &::before {
                        background: linear-gradient(transparent, #ff3535);
                    }
                }

                &--s-2 {
                    grid-row: 2 / 3;
                    grid-column: 3 / 4;

                    &::before {
                        background: linear-gradient(transparent, #35aaff);
                    }
                }
            }

            @media (max-width: $breakpoint-md-max) {
                grid-template-rows: repeat(2, 100px);
                grid-template-columns: repeat(3, 100px);
                grid-gap: 8px;          
            }

            @media (max-width: $breakpoint-md-min) {               
                grid-template-rows: repeat(2, 120px);
                grid-template-columns: repeat(3, 120px);
                grid-gap: 12px;               
            }

            @media (max-width: $breakpoint-xs-max) {
                grid-template-rows: repeat(2, 100px);
                grid-template-columns: repeat(3, 100px);
                grid-gap: 8px; 
            }

            // Ниже мой костыль для самого малеького экрана. Надоело повторять за видео. Сделал сам.
            // Не захотел переделывать так, как рассказывали.
            @media (max-width: 410px) {
                grid-template-rows: repeat(2, 80px);
                grid-template-columns: repeat(3, 80px);
                grid-gap: 6px; 
            }

        }

        &-content {
            flex-grow: 1;
            margin-left: 20px;
            overflow: hidden;

            h3 {
                font-size: 35px;
            }

            .text {
                margin-bottom: 40px;
                font-size: $fs-md;
                line-height: 2;                
            }

            @media (max-width: $breakpoint-md-max) {
                h3 {
                    font-size: 34px;
                }
                .text {                    
                    font-size: 14px;                                    
                }
            }
        }

        @media (max-width: $breakpoint-xs-max) {
            flex-direction: column;
            padding: 32px 19px;
            
            &-content {
                position: relative;
                z-index: 5;
                margin-top: 36px;
                margin-left: 0;               
            }

            h4 {
                margin-bottom: 12px;
            }
        }

        @media (max-width:$breakpoint-md-min) {
            flex-direction: column; 
            
            &-content {
                position: relative;
                z-index: 5;
                margin-top: 36px;
                margin-left: 0;               
            }

            h4 {
                margin-bottom: 12px;
            }
        }

    }
}

.swiper-button-prev,
.swiper-button-next {
    z-index: 0 !important;       
    &::after {
        content: '' !important;
    }
}

.btn-blog {
    position: absolute;
    top: 50%;
    display: block;
    width: 40px;
    height: 40px;
    background: url(../img/icon-blog-arrow.svg) no-repeat 50% 50%;

    &--prev {
        right: 100% !important;
        margin-left: -117px !important;
        transform: translateY(-50%);

        @media (max-width: $breakpoint-lg-max) {
            margin-left: -57px !important;
        }
    }

    &--next {
        left: 100% !important;
        transform: translateY(-50%) rotate(180deg);
        margin-left: 80px !important;

        @media (max-width: $breakpoint-lg-max) {
            margin-left: 20px !important;
        }
    }

    @media (max-width: $breakpoint-md-max) {
        display: none !important;
    }

}

// === / BLOG ===

// === QUOTES ===
.section-quotes {
    background: linear-gradient(#eaf0ff, #f6f9ff);
    overflow: hidden;

    .swiper-pagination {
        position: relative;
        margin-top: 40px;
        margin-left: -10px;           
    }

    .section-inner {
        display: flex;
        justify-content: space-between;

        h3 {
            font-weight: $fw-medium;
        }

        h5 {
            margin-bottom: 30px;
        }

        @media (max-width: $breakpoint-xl-min) {
            flex-direction: column;
        }
    }

    &__left,
    &__right {
        width: 45%;

        @media (max-width: $breakpoint-xl-min) {
            width: 100%;
        }
    }

    &__left {
        .text {
            line-height: 2;
        }

        @media (max-width: $breakpoint-sm-max) {
            margin-bottom: 30px;
        }

        @media (max-width: $breakpoint-xl-min) {
            margin-bottom: 30px;        
        }
    }
}

.slider-quotes-container {
    width: 50vw;    
    margin: -50px 0 40px -50px !important;
    overflow: hidden;

    @media (max-width: $breakpoint-xl-min) {
        width: 100vw;
        margin-top: 0;        
    }
}

.slider-quotes {
    @include list-none();

    display: flex;       

    &__item {           
        min-width: 28vw;
        padding: 48px;
        opacity: 0.5;
        box-sizing: border-box;    
        transition: opacity $transition;

        &.swiper-slide-active {
            opacity: 1;
        }
        
        @media (max-width: $breakpoint-xl-min) {
            min-width: 50vw;                  
        }

        @media (max-width: $breakpoint-xs-max) {
            min-width: 100vw;                  
        }
    }
    .swiper-slide {
        flex-shrink: 1 !important;
    }
}

.slider-quotes-item-content {
    position: relative;
    padding: 40px 72px 60px;
    border: 1px solid #d8e3fe;
    background-color: #fff;
    box-shadow: 0 5px 50px #c7cbd6;

    &__text {
        font-size: $fs-md;
        line-height: 2;
        color: #676f95;
    }

    &__photo {
        position: absolute;
        top: 100%;
        left: 50%;
        width: 60px;
        height: 60px;
        //translateY(-50%) можно удалить и заменить на margin-top: 30px;
        border-radius: 100%;
        overflow: hidden;
        background-color: #fff;
        transform: translateX(-50%) translateY(-50%);
    }
}

// === / QUOTES ===

// === FAQ ===
.section-faq {
    h4 {
        font-weight: $fw-medium;
    }
}

.faq-accordion {
    @include list-none();

    &__item {
        $parent: &;

        border-bottom: 1px solid #d8e3fe;

        &_active {

            #{$parent}-trigger {
                font-weight: $fw-bold;
                color: #495274;

                &-icon {
                    transform: rotate(0);

                    .arrow {
                        stroke: #495274;
                    }
                }
            }

            #{$parent}-content {
                display: flex;
            }
        }

        &-trigger {
            display: flex;
            cursor: pointer;
            padding: 16px;

            &-icon {
                width: 16px;
                text-align: center;
                margin-right: 16px;
                transform: rotate(180deg);

                .arrow {
                    stroke: #8e96b7;
                }
            }

            &-text {
                font-size: $fs-md;
            }
        }

        &-content {
            display: none;
            padding: 0 16px 16px 46px;

            &-text {
                flex-grow: 1;
                line-height: 2;
                font-size: $fs-md;
            }

            &-btn {
                margin-left: 60px;
            }

            @media (max-width: $breakpoint-xs-max) {
                flex-direction: column;

                &-text {
                    margin-bottom: 10px;
                }

                &-btn {
                    margin-left: 0;
                }
            }
        }
    }
}

// === / FAQ ===

// === GET-STARTED ===
.section-get-started {
    position: relative;
    background: linear-gradient(#6888ff, #5e80ff);
    text-align: center;
    color: #fff;

    &::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 5;
        content: '';
        background: url(../img/bg-clouds.svg) no-repeat 50% 50%;
    }

    .section-inner {
        position: relative;
        z-index: 10;
    }

    h2,
    h5 {
        color: #fff;
    }

    h2 {
        font-weight: $fw-light;

        span {
            font-weight: $fw-medium;
        }
    }

    .text {        
        margin: 0 auto 40px;
        line-height: 2;

        @media (min-width: $breakpoint-sm-min) {
            max-width: 60%;
        }
    }
}

// === / GET-STARTED ===

// === NEWSLETTER ===
.section-newsletter {
    background-color: #fcfdff;

    .section-inner {
        display: flex;
        justify-content: space-between;

        @media (max-width: $breakpoint-md-max) {
            flex-direction: column;         
        }
    }

    &__left {
        flex-basis: 35%;

        &-title {
            @include quicksand();

            font-size: $fs-lg;
            color: #3d4f9f;
            margin-bottom: 16px;
            font-weight: $fw-bold;
        }

        &-text {
            font-size: $fs-md;
            line-height: 2;
        }

        @media (max-width: $breakpoint-md-max) {
            margin-bottom: 20px;
        }
    }

    &__right {
        flex-basis: 55%;
    }
}

.form-newsletter {
    display: flex;

    .input {
        flex-grow: 1;
    }

    .btn {
        margin-left: 14px;
    }

}

// === / NEWSLETTER ===

// === FOOTER ===
.section-footer {
    border-bottom: 0;
}

.copyright {
    @include quicksand;

    margin-left: 96px;
    margin-top: 28px;
    font-size: $fs-sm;
    font-weight: $fw-medium;
    color: #aeb8d0;

    @media (max-width: $breakpoint-md-max) {
        margin-left: 0;
        text-align: center;
    }
}

// === / FOOTER ===